<div class="top">
  <span class="author">{{await authorName}}</span>
  <div class="buttons">
    {{#if loading}}
      {{loadingPlaceholder}}
    {{else}}
      <button type="button" name="modifyComment" class="edit" disabled={{disable}} {{action "toggleEditing"}}>edit</button>
      <button type="button" name="deleteComment" class="remove" disabled={{disable}} {{action "deleteComment" comment}}>delete</button>
    {{/if}}
  </div>
</div>

<div class="middle">
  <div class="status {{comment.status}}">
    <label for="status"></label>
    {{input type="checkbox" checked=isSolved disabled=disable click=(action "changeStatus")}}
  </div>
  {{textarea value=comment.message key-press="keyPress" disabled=shouldDisableTextArea}}
  {{#if editing}}
    <ul class="assigned-users">
      {{#each assignedUsers as |user|}}
        <li><span>{{user.name}}</span> <button class="delete" {{action "removeAssigned" user}}>x</button></li>
      {{/each}}
    </ul>
    {{#if searchingForUser}}
      {{user-search index=index assignedUsers=assignedUsers availableUsers=availableUsers closeAfterAdding=multiAdds addAssigned="addAssigned" closeSearch="closeSearch"}}
    {{/if}}
  {{/if}}
</div>

<div class="bottom">
  <span class="creation-date">Created {{format-relative comment.creationDate type="numeric" interval=1000}}</span>
  {{#if comment.modificationDate}}
    <span class="modification-date">Modified {{format-relative comment.modificationDate type="numeric" interval=1000}}</span>
  {{/if}}
</div>
