<td>{{notification.createdBy.name}}</td>
<td>{{notification.createdWhen}}</td>
<td>{{notification.solved}}</td>
<td>{{notification.solvedBy.name}}</td>
<td>{{notification.solvedWhen}}</td>
<td>{{notification.comment.message}}</td>
<td>{{notification.status}}</td>
<td>{{notification.assignedTo.name}}</td>
<td></td>