<div class="header">
  <div class="author">{{await authorName}}</div>
  <div class="actions">
    {{#if loading}}
      {{loadingPlaceholder}}
    {{else unless disable}}
      <ul>
        <li class="edit {{if disable "disabled" "enabled"}}">
          <button type="button" class="edit {{if disable "disabled" "enabled"}}" name="modifyComment" disabled={{disable}} {{action "toggleEditing"}}></button>
        </li>
        <li class="delete {{if disable "disabled" "enabled"}}">
          <button type="button" class="delete {{if disable "disabled" "enabled"}}" name="deleteComment" disabled={{disable}} {{action "deleteComment" comment}}></button>
        </li>
      </ul>
    {{/if}}
  </div>
</div>

<div class="message {{comment.status}}">
  {{#if editing}}
    {{textarea value=comment.message key-down="keyPress" disabled=shouldDisableTextArea}}
    <div class="status-symbol {{comment.status}} {{if disableCheckbox "disabled"}}" {{action "changeStatus"}}></div>
    <ul class="assigned-users">
      {{#each assignedUsers as |user|}}
        <li {{action "removeAssigned" user}}>
          <button class="remove" tabindex="-1">[-]</button> <span>{{user.name}}</span>
        </li>
      {{/each}}
    </ul>
    {{user-search index=index assignedUsers=assignedUsers availableUsers=availableUsers closeAfterAdding=(not multiAdds)
    addAssigned="addAssigned" closeSearch="closeSearch" searchString=searchString}}
  {{else}}
    <div class="content">{{comment.message}}</div>
    <div class="status-symbol {{comment.status}} {{if disableCheckbox "disabled"}}" {{action "changeStatus"}}></div>
  {{/if}}
</div>

<div class="footer">
  {{#if comment.modificationDate}}
    <div class="edit-time">Edited {{custom-format-date comment.modificationDate format=dateFormat.format}}</div>
  {{else}}
    <div class="post-time">Created {{custom-format-date comment.creationDate format=dateFormat.format}}</div>
  {{/if}}
</div>
