<div class="header">
  <div class="author">{{await authorName}}</div>
  {{#if comment.modificationDate}}
    <div class="post-time edit-time">{{custom-format-date comment.modificationDate format=dateFormat.format}}</div>
  {{else}}
    <div class="post-time">{{custom-format-date comment.creationDate format=dateFormat.format}}</div>
  {{/if}}
  <div class="actions">
    {{#if loading}}
      {{loadingPlaceholder}}
    {{else unless (or disable editing)}}
      <ul>
        <li class="edit {{if disable "disabled" "enabled"}}">
          <button type="button" class="edit {{if disable "disabled" "enabled"}}" name="modifyComment" disabled={{disable}} {{action "toggleEditing"}}></button>
        </li>
        <li class="delete {{if disable "disabled" "enabled"}}">
          <button type="button" class="delete {{if disable "disabled" "enabled"}}" name="deleteComment" disabled={{disable}} {{action "deleteComment" comment}}></button>
        </li>
      </ul>
    {{/if}}
  </div>
</div>

<div class="message {{comment.status}}">
  {{#if editing}}
    {{textarea value=comment.message key-down="keyPress" disabled=shouldDisableTextArea}}
    <div class="status-symbol {{comment.status}} {{if disableCheckbox "disabled"}}" {{action "changeStatus"}}></div>
    {{user-search index=index assignedUsers=assignedUsers availableUsers=availableUsers closeAfterAdding=(not multiAdds)
    removeAssigned="removeAssigned" addAssigned="addAssigned" closeSearch="closeSearch" searchString=searchString}}
  {{else}}
    <div class="content">{{comment.message}}</div>
    <div class="status-symbol {{comment.status}} {{if disableCheckbox "disabled"}}" {{action "changeStatus"}}></div>
  {{/if}}
</div>

{{#unless (or emptyAssignedUsers editing)}}
  <div class="footer">
    <!-- check with design for class name here -->
    <div class="assigned-users">
      <span class="bell-icon"></span>{{assignedUsersList}}
    </div>
  </div>
{{/unless}}

{{#if editing}}
  <div class="buttons">
    <button class="save" {{action "save"}}>Save</button>
    <button class="cancel" {{action "cancel"}}>Cancel</button>
  </div>
{{/if}}
