{{#if loading}}
  {{loadingPlaceholder}}
{{else}}
  <button type="button" name="showNotifications" id= {{idbutton}} {{action "toggleDisplay"}} title= {{tooltipTitle}} tabindex= {{buttonTabIndex}}>
    <span>{{refresher.combinedLength}}</span>
  </button>
  {{#if isDisplayed}}
    {{#tether-dialog close='toggleDisplay' container-class="comments-modal" hasOverlay=false clickOutsideToClose=true target=(concat '#' idbutton) targetAttachment=targetAttachment attachment=attachment}}

      <ul class="nav">
        <li selected="{{if (eq display "source") true false}}" class="{{if (eq display "source") 'selected'}}" {{action "toDisplay" "source"}}>Inbox</li>
        <li selected="{{if (eq display "target") true false}}" class="{{if (eq display "target") 'selected'}}" {{action "toDisplay" "target"}}>Sent</li>
      </ul>

      {{#if (eq display "source")}}
        {{list-notifications notifications=sourceNotifications handleClick="handleClick"}}
        {{else if (eq display "target")}}
        {{list-assignments assignments=targetNotifications handleClick="handleClick"}}
      {{/if}}
    {{/tether-dialog}}
  {{/if}}
{{/if}}
