<div class="header" {{action "handleClick" notification}}>
  <div class="author">
    {{notification.createdBy.name}} on <span>'{{await notification.comment.about.defaultPrefLabel}}'</span>
  </div>
</div>
<div class="message {{notification.status}}">
  <div class="message-bubble" {{action "handleClick" notification}}>{{notification.comment.message}}</div>
  <div class="status-symbol {{notification.status}}" {{action "toggleStatus" notification}}></div>
</div>
<div class="footer" {{action "handleClick" notification}}>
  <div class="post-time">Notification created {{custom-format-date notification.createdWhen format=dateFormat.format}}</div>
</div>
