<td {{action "handleClick" notification}}>{{notification.comment.message}}</td>
<td {{action "handleClick" notification}}>{{await notification.comment.about.defaultPrefLabel}}</td>
<td {{action "handleClick" notification}}>{{await assignedTo}}</td>
<td {{action "handleClick" notification}}>{{notification.solved}}</td>
{{#if (eq notification.status "show")}}
  <td {{action "toggleStatus" notification}}>Hide</td>
{{else}}
  <td {{action "toggleStatus" notification}}>Show</td>
{{/if}}
