{{#if loading}}
  {{loadingPlaceholder}}
{{else}}
  <button type="button" name="showComments" id={{idbutton}} {{action "toggleDisplay"}} title={{tooltipTitle}} tabindex={{buttonTabIndex}}>
    <span>{{comments.length}}</span>
  </button>
  {{#if isDisplayed}}
    {{#tether-dialog close='toggleDisplay' container-class="comments-modal" hasOverlay=false clickOutsideToClose=false target=(concat '#' idbutton)
    targetAttachment=targetAttachment attachment=attachment}}
      {{list-comments comments=comments user=user users=users about=about refresh="refresh"}}
    {{/tether-dialog}}
  {{/if}}
{{/if}}
