{{#if emptyShownNotifications}}
  <span class="msg msg--empty">No notifications to display</span>
{{else}}
  <div class="visible-comments">
    {{#each shownNotifications as |notification index|}}
      {{display-notification notification=notification index=index handleClick="handleClick"}}
    {{/each}}
  </div>
{{/if}}

{{#unless emptyHiddenNotifications}}
  <div class="toggle-hidden-comments {{if showHidden "show" "hide"}}"  {{action 'toggleShowHidden'}}>
    <h2>
      <span title={{tooltipShowHidden}}>Hidden</span>
    </h2>
  </div>
  {{#if showHidden}}
    {{#if emptyHiddenNotifications}}
      <span class="msg msg--empty">No hidden notifications to display</span>
    {{else}}
      <div class="hidden-comments">
        {{#each hiddenNotifications as |notification index|}}
          {{display-notification notification=notification index=index handleClick="handleClick"}}
        {{/each}}
      </div>
    {{/if}}
  {{/if}}
{{/unless}}
