<div class="message">
  {{textarea value=comment.message disabled=loading id="newCommentContent" name="newCommentContent" placeholder=textAreaPlaceholder key-down="keyPress"}}
</div>
<div class="notify">
  {{user-search index=index assignedUsers=assignedUsers availableUsers=availableUsers closeAfterAdding=(not multiAdds)
  addAssigned="addAssigned" closeSearch="closeSearch" searchString=searchString}}
</div>
<button type="button" class="btn btn--post-comment" disabled={{loading}} name="submitNewComment" {{action "createComment"}}>{{addButtonLabel}}</button>
