<div class="content">
  {{textarea value=comment.message id="newCommentContent" name="newCommentContent" disabled=disableComment placeholder=textAreaPlaceholder key-press="keyPress"}}
  <ul class="assigned-users">
    {{#each assignedUsers as |user|}}
      <li><span>{{user.name}}</span> <button class="delete" {{action "removeAssigned" user}}>x</button></li>
    {{/each}}
  </ul>
  {{#if searchingForUser}}
    {{user-search index=index assignedUsers=assignedUsers availableUsers=availableUsers closeAfterAdding=multiAdds addAssigned="addAssigned" closeSearch="closeSearch"}}
  {{/if}}
</div>
<div class="newButton">
  <button type="button" name="submitNewComment" id="submitNewComment" {{action "createComment"}}>{{addButtonLabel}}</button>
</div>