<div class="content">
  {{textarea value=comment.message id="newCommentContent" name="newCommentContent" disabled=disableComment placeholder=textAreaPlaceholder key-press="keyPressComment"}}
  <ul class="assigned-users">
    {{#each assignedUsers as |user|}}
      <li><span>{{user.name}}</span> <button class="delete" {{action "removeAssigned" user}}>x</button></li>
    {{/each}}
  </ul>
  {{#if searchingForUser}}
    {{#modal-dialog renderInPlace=true}}
      {{input type="text" id=(concat "userSearch" index) disabled=disableSearch value=searchString key-press="keyPressSearch"}}
      <button class="close" {{action "closeSearch"}}>Close</button>
      <ul>
        {{#each filteredUsers as |user|}}
          <li {{action "addAssigned" user}}>{{user.name}}</li>
        {{/each}}
      </ul>
    {{/modal-dialog}}
  {{/if}}
</div>
<div class="newButton">
  <button type="button" name="submitNewComment" id="submitNewComment" {{action "createComment"}}>{{addButtonLabel}}</button>
</div>