<div class="notify-search">
  {{input type="text" id=(concat "userSearch" index) value=searchString key-down="keyPressSearch" escape-press="closeSearch" placeholder='Search user to notify'}}
</div>
<div class="assigned-users">
  <ul>
    {{#each assignedUsers as |user index|}}
      <li class="remove {{concat "index-" index}}" {{action "removeAssigned" user}}>
        <span>{{user.name}}</span>
      </li>
    {{/each}}
  </ul>
</div>
{{#if searchString}}
  <div class="suggested-users">
    {{#if filteredUsers.length}}
      <ul>
        {{#each filteredUsers as |user index|}}
          <li class="add {{concat "index-" index}}" {{action "addAssigned" user}}>
            <span>{{user.name}}</span>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <span>No user with this name</span>
    {{/if}}
  </div>
{{/if}}

