{{input type="text" id=(concat "userSearch" index) value=searchString key-down="keyPressSearch" escape-press="closeSearch" placeholder='Search for a person'}}

{{#if searchString}}
  <div class="suggested-users">
    {{#if filteredUsers.length}}
      <ul>
        {{#each filteredUsers as |user index|}}
          <li class="add-assigned {{concat "index-" index}}" {{action "addAssigned" user}}>
            <button tabindex="-1" class="add">[+]</button> <span>{{user.name}}</span>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <span>No user with this name</span>
    {{/if}}
  </div>
{{/if}}

